/DreamTeam/bin
/DreamTeam/obj
/DreamTeam.Models/bin
/DreamTeam.Models/obj
/DreamTeam.Tests/bin
/DreamTeam.Tests/obj
/.vs
*.user
/DreamTeam.UserControls/bin
/DreamTeam.UserControls/obj
/DreamTeam.Processes/bin
/DreamTeam.Processes/obj
/DreamTeam.Utils/bin
/DreamTeam.Utils/obj
